version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: civiceye_db
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: civiceye_backend
    ports:
      - "5000:5000"
    environment:
      - PORT=5000
      - MONGO_URI=mongodb://mongodb:27017/civiceye
      - JWT_SECRET=civiceye_prod_jwt_super_secret_override_me
      - JWT_EXPIRE=7d
      - CLIENT_URL=http://localhost:5173
      - NODE_ENV=production
    depends_on:
      - mongodb
    volumes:
      - backend_uploads:/app/uploads
    restart: always

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: civiceye_frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  mongodb_data:
  backend_uploads:
